<div class="row">
  <div class="col">
    <h1 class="index-head p-3">Reversi Game: <%= @game %></h1>
    <script>
      window.game_name = "<%= @game %>";
      window.user_name = "<%= @user_name %>"
    </script>
    <div id="root">

    </div>
  </div
