<h2>Show Games</h2>

<ul>

  <li>
    <strong>Is over:</strong>
    <%= @games.is_over %>
  </li>

</ul>

<span><%= link "Edit", to: games_path(@conn, :edit, @games) %></span>
<span><%= link "Back", to: games_path(@conn, :index) %></span>
